*.orig
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
ezc.pc
test-driver

.vscode/

*.out

ezcconfig.h

build/

*.orig
src/ec
src/ezc
mini.src/ecm
*.o
*.out

*.tar
*.tar.*


autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h*
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
