# Generated
*tmp/
*.spec

# compiled files
*.pyc
*.o
*.out
*.vscode/
!VSCODE-extension/.vscode/
*dist/*
*build/*
!/deb-package/DEBIAN/control
!/deb-package/usr/share/doc/ezcc/copyright
/deb-package/*
#deb-package/bin/*
#deb-package/usr/share/doc/ezcc/changelog.gz


# package
*.deb

