*.orig
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
ezc.pc
test-driver


autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1

