Package: ezcc
Architecture: amd64
Section: devel
Installed-Size: 3789
Maintainer: Cade Brown <info@chemicaldevelopment.us>
Depends: gcc, libmpfr-dev, libc6 (>=2.0)
Priority: optional
Version: 2.1.0
Description: EZC Compiler
 Compiles EZC
 github.chemicaldevelopment.us/ezc
