Package: ezc
Architecture: @ARCH@
Section: devel
Installed-Size: 112
Maintainer: Cade Brown <info@chemicaldevelopment.us>
Depends: gcc, libc6, libgmp-dev, libmpfr-dev, python
Priority: optional
Version: @VERSION@
Description: Compiler for EZC and included utilities
 Compiles EZC
 github.chemicaldevelopment.us/ezc
